version: 2.1
orbs:
  python: circleci/python@2
jobs:
  build-and-test:
    macos:
      xcode: 14.2.0
    resource_class: macos.m1.medium.gen1
    steps:
      - checkout
      - run:
          name: Install Pip, nuitka, imageio, patchelf, pyside6 and ccache
          command: |
            brew install python3
            python3 -m pip install nuitka zstandard ordered-set imageio pyside6 psutil requests cryptography
            brew install patchelf
      - run:
          name: Run custom nuitka command
          command: |
            python3 -m nuitka --onefile --macos-create-app-bundle --macos-app-icon=icon.ico --disable-console --enable-plugin=pyside6 --noinclude-default-mode=nofollow polaris.py
workflows:
  version: 2
  build-and-test:
    jobs:
      - build-and-test
